<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet/less" type="text/css" href="./_css/style.less" />
    <title>NodeJs com Less</title>
</head>
<body>
    <h1>Aprendendo a desenvolver com NodeJs e Less</h1>

    <h2> A história</h2>
    <a href="/">Home</a>
    <a href="/exercicio">Exercício</a>

    <p><b>Lorem ipsum</b> dolor sit amet consectetur adipisicing elit. Autem provident aliquid error harum doloremque maiores, blanditiis molestiae tempore repellat voluptate debitis eveniet fugit. Deleniti, obcaecati. Ipsam facere repellat quidem vitae.</p>
    <img src="./images/node.png" height="50" />
    <div id="div-1">
        <b>Lorem ipsum</b> dolor, sit amet consectetur adipisicing elit. Quasi vitae perferendis dolorum rerum, voluptate dicta quo illum modi magnam velit blanditiis, magni accusantium nisi ipsa sint quis omnis enim rem!
    </div>
    </br>
    <img src="./images/less.png" height="50" />
    </body>
    <div id="div-2">
        <b>Lorem ipsum</b> dolor, sit amet consectetur adipisicing elit. Quasi vitae perferendis dolorum rerum, voluptate dicta quo illum modi magnam velit blanditiis, magni accusantium nisi ipsa sint quis omnis enim rem!
    </div>
    </br>
    <img src="./images/multer.png" height="50" />
    <div id="div-2">
        <b>Lorem ipsum</b> dolor, sit amet consectetur adipisicing elit. Quasi vitae perferendis dolorum rerum, voluptate dicta quo illum modi magnam velit blanditiis, magni accusantium nisi ipsa sint quis omnis enim rem!
    </div>
    </br>
    <img src="./images/express.png" height="50" />
    <div id="div-2">
        <b>Lorem ipsum</b> dolor, sit amet consectetur adipisicing elit. Quasi vitae perferendis dolorum rerum, voluptate dicta quo illum modi magnam velit blanditiis, magni accusantium nisi ipsa sint quis omnis enim rem!
    </div>
    </br>
    <img src="./images/html.png" height="70" />
    </body>
    <div id="div-2">
        <b>Lorem ipsum</b> dolor, sit amet consectetur adipisicing elit. Quasi vitae perferendis dolorum rerum, voluptate dicta quo illum modi magnam velit blanditiis, magni accusantium nisi ipsa sint quis omnis enim rem!
    </div>
    </br>
    <img src="./images/css.png" height="70" />
    <div id="div-2">
        <b>Lorem ipsum</b> dolor, sit amet consectetur adipisicing elit. Quasi vitae perferendis dolorum rerum, voluptate dicta quo illum modi magnam velit blanditiis, magni accusantium nisi ipsa sint quis omnis enim rem!
    </div>
    </br>
    <img src="./images/javas.png" height="70" />
    <div id="div-2">
        <b>Lorem ipsum</b> dolor, sit amet consectetur adipisicing elit. Quasi vitae perferendis dolorum rerum, voluptate dicta quo illum modi magnam velit blanditiis, magni accusantium nisi ipsa sint quis omnis enim rem!
    </div>
    
    <!-- LINHA DE CODIGO para fazer o pre-processamento de less para css-->
    <script src="https://cdn.jsdelivr.net/npm/less" ></script>
    <script>
        /*tag para mostrar se esta em produção ou ambiente de desenvolvimento*/
        less = { env: 'production' }; /*pode ser production - se for development mostrar erros no console*/
    </script>
</body>
</html>